/* Survey page styles */

.photo {
  width: 80%;
  padding: 1em;
}

form {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  display: inline-block;
}

fieldset {
  border: none;
  text-align: left;
  margin-bottom: .5em;
}

legend {
  font-size: 1.2rem;
  font-weight: bold;
}

.form-heading {
  font-weight: normal;
  margin: 1em 0 0;
}

label {
  display: block;
  text-align: left;
  margin-top: .5em;
}

input + label {
  display: inline-block;
}

select,
input[type="text"],
input[type="email"],
textarea,
button {
  width: 100%;
  height: 2em;
  margin: .5em;
  padding: .5em;
  font-size: 1rem;
  border-radius: .5em;
  outline: none;
  background-color: #8C9090;
  border: 1px solid #8C9090;
  transition: .5s;
}

button {
  height: 3em;
  color: #fff;
  background-color: #FFA319;
  border: 1px solid #FFA319;
}

select:focus,
input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
  background-color: white;
}

button:hover {
  cursor: pointer;
  color: #FFA319;
  background-color: #fff;
}

textarea {
  height: 5em;
  resize: none;
}

#name_hint,
#email_hint,
#submit_hint {
  margin: 0;
  padding: 0 0 0 1em;
  text-align: left;
  font-size: .75rem;
}



/* Styles for larger screens */
@media screen and (min-width: 840px) {
  .photo{
    width: 40%;
  }
}
