/* Tour page styles */

pre {
  font-family: 'Open Sans', sans-serif;
}

.table-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.heading {
  text-align: center;
}

.pick {
  width: 40px;
  padding: 10px;
}

.table {
  display: block;
}

caption {
  display: block;
  font-size: .75rem;
  text-align: left;
}

.table thead,
.table tbody {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.table tr {
  width: 100%;
  border-bottom: 1px solid white;
  display: flex;
  justify-content: space-between;
}

.table th,
.table td {
  width: calc(100%/3);
  padding: .5em;
}

/* Styles for larger screens */
@media screen and (min-width: 840px) {

  .table-header {
    flex: 1;
    align-items: flex-start;
    margin-right: 3em;
  }

  .table {
    flex: 3;
  }
}
